* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 0.5em;
  color: white;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    rgba(82, 50, 134, 0.993),
    rgb(129, 106, 150),
    rgba(0, 0, 0, 0.849)
  );
}
h1 {
  font-size: 1em;
  padding-bottom: .5em;
}
img {
  padding-bottom: 0;
  width: 200px;
}

span {
  font-size: 1.4em;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 .1em;
}
.location-name-wrapper {
  font-size: 2em;
  text-align: center;
}


.degree-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2.5em;
  padding: .3em;
}

.location-input {
  height: 3em;
  width: 20em;
  border-radius: 0.4em;
  letter-spacing: .14em;
  font-weight: bold;
  padding-left: 1em;
}
.location-submit {
  border-radius: 0.4em;
  height: 3em;
  width: 7em;
  letter-spacing: 0.14em;
  font-weight: bold;
}
.location-submit:hover {
  background-color: rgb(223, 221, 221);
}
